# Logs
logs
*.log
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Firebase config
service-account*.json
.firebaserc

# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
.firebaserc

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env

# Python file
.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
built-package/
*.egg-info
dist/
functions/requirements.txt

# Notes file
MY_NOTES.md
