name: CI/CD Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      deploy:
        description: "Run deployment"
        required: true
        type: boolean
        default: false

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-suffix: ci-cd

      - name: Check format and lint
        run: |
          uv sync --locked --dev
          uv run ruff check --output-format github
          uv run ruff format --check

      - name: Run tests
        run: uv run pytest

  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    needs: [lint-and-test]
    if: (github.ref == 'refs/heads/main' && github.event_name == 'push') || (github.event_name == 'workflow_dispatch' && github.event.inputs.deploy == 'true')

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-suffix: ci-cd

      - name: Generate requirements.txt
        run: make functions-requirements

      - name: Create firebase required virtual environment
        run: make functions-venv

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy to Firebase
        run: firebase deploy --project ${{ secrets.FIREBASE_PROJECT_ID }} -m "github action" --non-interactive > /dev/null 2>&1
